---
- name: Proxmox Discovery
  hosts: localhost
  connection: local
  vars_files:
    - inventory/media-cluster/group_vars/proxmox.yml
  tasks:
    - name: Get VM List
      community.proxmox.proxmox_vm_info:
        api_user: "{{ proxmox_api_user }}"
        api_token_id: "{{ proxmox_api_token_id }}"
        api_token_secret: "{{ proxmox_api_token_secret }}"
        api_host: "192.168.20.20"
      register: pve_info

    - name: Show all VM names and IDs found
      debug:
        msg: "{{ pve_info.proxmox_vms | selectattr('template', 'equalto', 1) | list }}"